@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #ededed;
}

@theme inline {
    --container-section-max: 900px;
    --container-hero-preview-max-lg: 700px;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

[data-social-icons] {
    width: 32px;
    height: 32px;
    filter: grayscale(1) brightness(0.5);
}

[data-social-icons]:hover {
    filter: brightness(1);
}

